In [27]:
import pandas as pd
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [28]:
school_count = len(school_data_complete["school_name"].unique())
student_count = school_data_complete["Student ID"].count()
total_budget = school_data_complete["budget"].sum()
avg_math_score = school_data_complete['math_score'].mean()
avg_reading_score = school_data_complete['reading_score'].mean()
passing_math = school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
pct_passing_math = passing_math/student_count*100
passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
pct_passing_reading = passing_reading/student_count*100
overall_passing_rate = (pct_passing_math + pct_passing_reading)/2
avg_math_score = round(avg_math_score, 2)
avg_reading_score = round(avg_reading_score, 2)
pct_passing_math = round(pct_passing_math, 2)
pct_passing_reading = round(pct_passing_reading, 2)
overall_passing_rate = round(overall_passing_rate, 2)
district_summary = pd.DataFrame({"Total Schools" : [school_count],
                                 "Total Students" : [student_count],
                                 "Total Budget" : [total_budget],
                                 "Average Math Score" : [avg_math_score],
                                 "Average Reading Score" : [avg_reading_score],
                                 "% Passing Math" : [pct_passing_math],
                                 "% Passing Reading" : [pct_passing_reading],
                                 "% Overall Passing Rate" : [overall_passing_rate]})
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$82,932,329,558.00",78.99,81.88,74.98,85.81,80.39

In [29]:
school_name = school_data ["school_name"]
school_type = school_data ["type"]
student_count = school_data ["size"]
total_school_budget = school_data ["budget"]
per_student_budget = total_school_budget/student_count
per_student_budget = per_student_budget.map("${:,.2f}".format)
school_summary = pd.DataFrame({"School Name" : school_name,
                               "SchoolType" : school_type,
                               "Total Students" : student_count,
                               "Total School Budget" : total_school_budget,
                               "Per Student Budget" : per_student_budget})
school_summary.set_index("School Name")
school_summary

,School Name,SchoolType,Total Students,Total School Budget,Per Student Budget
0,Huang High School,District,2917,1910635,$655.00
1,Figueroa High School,District,2949,1884411,$639.00
2,Shelton High School,Charter,1761,1056600,$600.00
3,Hernandez High School,District,4635,3022020,$652.00
4,Griffin High School,Charter,1468,917500,$625.00
5,Wilson High School,Charter,2283,1319574,$578.00
6,Cabrera High School,Charter,1858,1081356,$582.00
7,Bailey High School,District,4976,3124928,$628.00
8,Holden High School,Charter,427,248087,$581.00
9,Pena High School,Charter,962,585858,$609.00
10,Wright High School,Charter,1800,1049400,$583.00
11,Rodriguez High School,District,3999,2547363,$637.00
12,Johnson High School,District,4761,3094650,$650.00
13,Ford High School,District,2739,1763916,$644.00
14,Thomas High School,Charter,1635,1043130,$638.00